.button.defaultMode {
  color: var(--default-color-90);
}

.button.primaryMode {
  color: var(--primary-color);
}

.heading.boldWeight {
  font-weight: 600;
}

.heading.level7Size {
  font-size: 20px;
}