.routerLink {
  text-decoration: none;
}

.routerLink.defaultMode {
  color: var(--text-color-default);
  transition: color 0.2s ;
}

.routerLink.primaryMode {
  color: var(--text-primary);
  transition: color 0.2s ;
}

.routerLink.smallSize {
  font-size: 12px;
}

.routerLink.mediumSize {
  font-size: 18px;
}

@media (hover: hover) {
  .RouterLink.defaultMode:hover {
    color: var(--text-color-grey);
  }
}

@media (hover: none) {
  .RouterLink.defaultMode:active {
    color: var(--text-color-grey);
  }
}