.routerLink {
  text-decoration: none;
}

.routerLink.defaultMode {
  color: var(--default-color-alpha85);
  transition: color 0.2s;
}

.routerLink.primaryMode {
  color: var(--primary-color);
  transition: color 0.2s;
}

.routerLink.smallSize {
  font-size: 12px;
}

.routerLink.mediumSize {
  font-size: 18px;
}

@media (hover: hover) {
  .routerLink.defaultMode:hover {
    color: var(--default-color-alpha50);
  }
}

@media (hover: none) {
  .routerLink.defaultMode:active {
    color: var(--default-color-alpha50);
  }
}