.text.defaultMode {
  color: var(--default-color-70);
}

.text.defaultModeAlpha50 {
  color: var(--default-color-alpha50);
}

.text.defaultModeAlpha75 {
  color: var(--default-color-alpha75);
}

.text.dangerMode {
  color: var(--error-color);
}

.text.smallSize {
  font-size: 12px;
}

.text.mediumSize {
  font-size: 14px;
}

.text.bigSize {
  font-size: 18px;
}