.createAccount {
  padding-top: 60px;
}

.createAccountForm {
  gap: 12px;
  margin: 0 auto;
}

.createAccountHeading {
  text-align: center;
  margin-block: 10px;
}

.createAccountFields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: calc(20px - 12px); //Вычитаем gap createAccountForm
}

.createAccountCheckbox {
  border-top: 1px solid var(--default-color-40);
  padding-top: 10px;
  padding-bottom: 20px;
}

.createAccountCheckbox {
  border-top: 1px solid var(--default-color-40);
  padding-top: 10px;
  padding-bottom: 20px;
}

.userConsent {
  border-top: 1px solid var(--error-color);
}

.login {
  display: inline-flex;
  gap: 5px;
}