.button {
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  font-size: 18px;
  padding: 0;
}

.button.dangerMode {
  border: 1px solid var(--error-color);
  color: var(--error-color);
  transition: border 0.2s, color 0.2s
}

.button.defaultMode {
  border: 1px solid transparent;
  color: var(--default-color-alpha85);
  transition: color 0.2s;
}

.button.successMode {
  color: var(--success-color-80);
  border: 1px solid var(--success-color-80);
  transition: border 0.2s, color 0.2s;
}

.button.primaryMode {
  background-color: var(--primary-color);
  color: var(--main-color);
  border: none;
  transition: box-shadow 0.3s;
}

.button.primaryOutlineMode {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: border 0.2s, color 0.2s;
}

.button.defaultMode:disabled {
  color: var(--default-color-alpha50);
  pointer-events: none;
  user-select: none;
}

.button.successMode:disabled {
  color: var(--success-color-90);
  border: 1px solid var(--success-color-90);
  pointer-events: none;
  user-select: none;
}

.button.smallSize {
  padding: 6px 10px;
  font-size: 18px;
}

.button.mediumSize {
  padding: 8px 10px;
  font-size: 16px;
}

.button.bigSize {
  padding: 12px 18px;
  font-size: 18px;
}

.button.line {
  border: 1px solid rgba(0, 0, 0, 0.75);
}

@media (hover: hover) {
  .button.defaultMode:hover {
    color: var(--default-color-alpha50);
  }

  .button.primaryMode:hover {
    box-shadow: 0 0 6px var(--primary-color);
  }

  .button.successMode:hover {
    color: var(--success-color-90);
    border: 1px solid var(--success-color-90);
  }

  .button.dangerMode:hover {
    border: 1px solid var(--error-color-90);
    color: var(--error-color-90);
  }

  .button.primaryOutlineMode:hover {
    border: 1px solid var(--primary-color-90);
    color: var(--primary-color-90);
  }
}

@media (hover: none) {
  .button.defaultMode:active {
    color: var(--default-color-alpha50);
  }

  .button.primaryMode:active {
    box-shadow: 0 0 6px var(--primary-color);
  }

  .button.successMode:active {
    color: var(--success-color-90);
    border: 1px solid var(--success-color-90);
  }

  .button.dangerMode:active {
    border: 1px solid var(--error-color-90);
    color: var(--error-color-90);
  }

  .button.primaryOutlineMode:active {
    border: 1px solid var(--primary-color-90);
    color: var(--primary-color-90);
  }
}

