.inputField {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputFieldLabel.labelHidden {
  display: none;
}

.inputFieldLabel {
  color: var(--default-color-90);
  font-size: 14px;
  padding-bottom: 2px;
}

.inputFieldElement.defaultMode {
  background-color: transparent;
  color: var(--default-color-alpha75);
  border: 1px solid var(--default-color-50);
  outline: 1.5px solid transparent;
  border-radius: 4px;
  transition: outline 0.2s;
}

.inputFieldElement.defaultMode::placeholder {
  color: var(--default-color-60);
  text-indent: 0px;
  transition: text-indent 0.2s ease;
}
.inputFieldElement.defaultMode:focus::placeholder {
  text-indent: 100%;
  transition: text-indent 0.2s ease;
}

.inputFieldElement.defaultMode:focus-visible {
  outline: 1.5px solid var(--primary-color);
}

.inputFieldElement.mediumSize {
  padding: 8px 12px;
  font-size: 16px;
}

.inputFieldElement.inputFieldElementError:focus {
  outline: 1.5px solid var(--error-color);
}

.inputError {
  font-size: 14px;
  color: var(--error-color);
}

