.update {
  padding-top: 60px;
  padding-bottom: 30px;
}

.updateForm {
  gap: 12px;
  margin: 0 auto;
}

.updateHeading {
  text-align: center;
  margin-block: 10px;
}

.updateFields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: calc(20px - 12px); //Вычитаем gap createAccountForm
}

.updateAvatar {
  cursor: pointer;
}

.updateAvatar:hover {
  color: var(--primary-color);
}