@import "./fonts.scss";
@import "./vars.scss";

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  --container: calc(1440px - 20px); //Вычитаем padding по бокам.
  --family: "Inter", sans-serif;

  --default-color-alpha85: rgba(0, 0, 0, 0.85);
  --default-color-alpha75: rgba(0, 0, 0, 0.75);
  --default-color-alpha50: rgba(0, 0, 0, 0.50);
  --default-color-90: #262626;
  --default-color-80: #595959;
  --default-color-70: #8C8C8C;
  --default-color-60: #BFBFBF;
  --default-color-50: #D9D9D9;
  --default-color-40: #E8E8E8;

  --success-color-80: #52C41A;
  --success-color-90: #399b08;

  --main-background: #ebeef3;
  --surface-background: #2e5871;
  --main-color: #ffffff;
  --primary-color: #1890FF;
  --warning-color-60: #FAAD14;
  --error-color: #F5222D;
}

html {
  font-family: var(--family);
  font-weight: 400;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--main-background);
  line-height: 1.5;
}

header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  z-index: 10;
  border-bottom: 0.5px solid var(--default-color-40);
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
}

.skeleton-animation {
  opacity: 0.7;
  animation: skeleton-loading 0.5s infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background: var(--default-color-70);
  }
  0% {
    background: var(--default-color-40);
  }
}

.container-desktop {
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;
  padding-block: 16px;
}

.container-mini-desktop {
  max-width: $miniDesktopWidth;
  margin: 0 auto;
  padding: 0 20px;
  padding-block: 16px;
}