@import '../../app/vars.scss';

.blogItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blogSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.arrowLeft {
  cursor: pointer;
  width: 8px;
  transform: rotate(180deg);
}

.arrowRight {
  cursor: pointer;
  width: 8px;
}

@media (max-width: $mobileWidth) {
  .blogItem {
    padding-top: 50px;
  }

  .blogTop {
    max-width: fit-content;
  }
}