@import "/src/app/vars.scss";

//Переопределяем отступ у container-desktop
.desktopSpace {
  padding: 0 14% !important;
}

.editorContainer {
  padding-top: 34px;
  padding-bottom: 34px;
}

.editorTitle {
  text-align: center;
}

.editorFields {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: $tableWidth) {
  .desktopSpace {
    padding: 0 15px !important;
  }
}