.loginAccount {
  padding-top: 60px;
  padding-bottom: 30px;
}

.loginAccountForm {
  gap: 12px;
  margin: 0 auto;
}

.loginAccountHeading {
  text-align: center;
  margin-block: 10px;
}

.loginAccountFields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: calc(20px - 12px); //Вычитаем gap createAccountForm
}

.register {
  display: inline-flex;
  gap: 5px;
}