.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-background);
  border-radius: 50%;
  overflow: hidden; 
  flex-shrink: 0;
}

.avatar.sizeSmall {
  width: 46px;
  height: 46px;
}

.avatarName {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 500;
}
