@import "../../../app/vars.scss";

.profile {
  display: flex;
  align-items: center;
  gap: 13px;
}

@media (max-width: $tableWidth) {
  .profileText {
    display: none;
  }
}

@media (max-width: $mobileWidth) {
  .profile {
    position: absolute;
    right: 0;
    top: 0;

    /* 20px ширина логотипа */
    transform: translateY(calc(-20px / 1.5));
  }
}