.authorContainer {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(1px, 15px);
}

.author {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo h2 {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.authorInfo span {
  display: inline-block;
}

.topicContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 6px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.topicTop {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.topicLink {
  white-space: wrap;
}

.topicTag {
  display: flex;
}

.topicDescription {
  margin: 0;
  max-width: 682px;
}